
# checking success after running a command
# is a common practice trhought the xdg-utils
# and it works well enough to not change it.
disable=SC2181

# x prefixes aren't pretty anymore,
# but they don't hurt either.
disable=SC2268

# While local isn't exactly great
# this warning produces unceccessary noise
# distracting from more urgent issues
disable=3043
